.home-scene {
    width: 90%;
    margin: auto;
    margin-top: 45px;
    text-align: left;

    h2 {
        font-size: 24px;
        font-weight: 500;
        color: #1f2d3d;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

    th,
    td {
        border: 1px solid black;
        padding: 15px;
    }

    .view-post {
        cursor: pointer;
        font-weight: 500;
        color: blue;
        //text-decoration: underline;
        &:hover {
            color: #41b6ac !important;
        }
    }
}